@charset "utf-8";

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	font-size: 100%;
	font: inherit;
	border: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	outline: 0;
}
a:active {
	outline: none;
}
body {
	font-family: "Open Sans", sans-serif;
	background-color: #777;
}
#page-wrap {
	margin: 0 auto;
	width: 100%;
	max-width: 980px;
}
.paper {
	margin: 30px auto;
	width: 90%;
	max-width: 960px;
	background-color: #f5f4f0;
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,.7);
	box-shadow: 0 0 2px rgba(0,0,0,.7);
}
.paper section {
	position: relative;
	padding: 30px;
	width: 100%;
	min-height: 100px;
}
.paper section h1 {
	margin-bottom: 20px;
	text-align: center;
	font-family: "Georgia", Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 3.125em;
	font-weight: bold;
	-webkit-text-shadow: 0 1px 0 #fff;
	text-shadow: 0 1px 0 #fff;
}
.paper section h2 {
	text-align: center;
	font-family: "Georgia", Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 1.563em;
	font-weight: bold;
}
.paper section:nth-child(even) {
	background: -moz-linear-gradient(-45deg, #e9eae5 0%, rgba(244,245,240,0) 100%);
	background: -webkit-linear-gradient(-45deg, #e9eae5 0%, rgba(244,245,240,0) 100%);
	background: linear-gradient(-45deg, #e9eae5 0%, rgba(244,245,240,0) 100%);
}
.paper section:nth-child(odd):before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 10px;
	top: 20px;
	bottom: 0;
	width: 50%;
	background-color: rgba(0,0,0,.7);
	-webkit-box-shadow: -10px 20px 15px rgba(0,0,0,.5);
	box-shadow: -10px 20px 15px rgba(0,0,0,.5);
	-webkit-transform: rotate(5deg);
	transform: rotate(5deg);
}
.paper section:nth-child(odd):after {
	content: "";
	position: absolute;
	z-index: -1;
	left: auto;
	right: 10px;
	top: 20px;
	bottom: 0;
	width: 50%;
	background-color: rgba(0,0,0,.7);
	-webkit-box-shadow: 10px 20px 15px rgba(0,0,0,.5);
	box-shadow: 10px 20px 15px rgba(0,0,0,.5);
	-webkit-transform: rotate(-5deg);
	transform: rotate(-5deg);
}
.paper section:nth-child(even):before {
	content: "";
	position: absolute;
	left: 10px;
	top: 0;
	bottom: 20px;
	z-index: -1;
	width: 50%;
	background-color: rgba(0,0,0,.7);
	-webkit-box-shadow: -10px -25px 15px rgba(0,0,0,.5);
	box-shadow: -10px -25px 15px rgba(0,0,0,.5);
	-webkit-transform: rotate(-5deg);
	transform: rotate(-5deg);
}
.paper section:nth-child(even):after {
	content: "";
	position: absolute;
	z-index: -1;
	left: auto;
	right: 10px;
	top: 0;
	bottom: 20px;
	width: 50%;
	background-color: rgba(0,0,0,.7);
	-webkit-box-shadow: 10px -25px 15px rgba(0,0,0,.5);
	box-shadow: 10px -25px 15px rgba(0,0,0,.5);
	-webkit-transform: rotate(5deg);
	transform: rotate(5deg);
}
.paper section p {
	line-height: 24px;
	font-size: 0.938em;
}

/* responsive */
@media only screen and (max-width: 600px) {
	.paper section h1 {
		font-size: 1.563em;
	}
	.paper section h2 {
		font-size: smaller;
	}
	.paper section:nth-child(even):after {
		right: 20px;
	}
	.paper section:nth-child(odd):after {
		right: 20px;
	}
	.paper section:nth-child(even):before {
		left: 20px;
	}
	.paper section:nth-child(odd):before {
		left: 20px;
	}
}