@charset "uft-8";
@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');

/****************************************************************************
typo.css: 크기, 색, 종류, 굵기, 줄간격, 자간
****************************************************************************/
/* .txt, #sec2 span, #sec4 button, .copy { */
/* a, button, ::placeholder 의 글자색은 직접 설정해야 한다.*/
.wtxt, button {    
    color: #fff;
}
#gnb a {
    color: #111;
    font-weight: 700;
}
.txt {
    font-size: 3.6rem;
}
#gnb, .txt{
    letter-spacing: 4px;
}
#sec3 a {
    color: #111;
}

.copy {
    font-size: 2rem;
    font-weight: 200;
}
::placeholder{
    color: #111;
}
/*--------------------------------------------------------------------------*/

/* 전체 */
body {
    background: #fff;
}

/* 헤더 */
header {
    z-index: 99999;
    position: fixed;
    width: 100%;
    height: 55px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0, 32px;
}

/* 로고 */


.logo img {
    height: 45px;
    padding-left: 32px;

}

/* 내비게이션 */

#gnb li {
    display: inline-block;
    margin-right: 32px;
}


/* 섹션 공통 */
.sec {
    position: relative;
    width: 1500px;
    margin: 0 auto;
}
/* 섹션2,3,4, 공통 */
section h2{
    padding: 64px 0 20px 0;
    border-bottom: 1px solid #ccc;
}
/* 섹션2,3 공통 */
#sec2 {
    height: 800px;
}
#sec3 {
    /* height: 800px; */
}
.sec234 ul {
    display: flex;
    flex-wrap: wrap;
}
.sec234 li {
    width: 360px;
    margin-right: 20px;
}

.sec234 li:nth-of-type(4n) {
    margin-right: 0;
}

/* 섹션 3,4 공통 */
section:first-of-type ~ section > p {
    margin-bottom: 40px;
}
/* 섹션1 */
#sec1 {
    padding-top: 55px;
}
.txt {
    font-size: 36px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.tit1 {
    padding: 8px 16px;
    background-color: #000;
    opacity: .75;
}


/* 섹션2 */
#sec2 {
    position: relative;
}
#sec2 h2 {
    margin-bottom: 40px;
}
#sec2 li {
    position: relative;
    border: 2px solid #e1e1e1;
}
#sec2 li:nth-of-type(4)~li {
    margin-top: 20px;
}
#sec2 img {
    width: 100%;
    height: 100%;
}
#sec2 span {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #111c;
    padding: 8px 16px;
}
.sec2_cont {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
}
/* 섹션3 */
#sec3 {
    background: red;
}
#sec3 h3 {
    margin: 16px 0;
}

#sec3 li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 680px;
}
#sec3 li p:first-of-type {
    margin-bottom: 16px;
}

#sec3 a {
    display: block;
    text-align: center;
    border: 1px solid #111;
    height: 40px;
    /* line-height: 40px; */
    padding: 4px;
    
}
/* 섹션4 */
#sec4 {
    padding-bottom: 8px;
}
.contect {
    display: block;
    width: 100%;
    margin: 12px 0 ;
    padding-bottom: 20px;
}

#sec4 button {
    margin: 16px 0 48px 0;
    display: block;
    background: #111;
    padding: 8px 30px;
}
#sec4 img {
    display: block;
    border: 2px solid #e1e1e1;
}

/* 푸터 */
/* 
    ling-height 는 한 줄 텍스트일 떄  박스의 주식 중앙 정령이 
    가능하며 높이 값으로 줄 수있다.
*/
footer {
    height: 200px;
    width: 100%;
    background-color: #333;
}

.copy {
    padding: 50px 0 20px 0;
    text-align: center;
}

.sns {
    text-align: center;
}
.sns li{
    display:inline-block;
    padding: 8px;
}

.sns img {
    width: 24px;
}