@charset "utf-8";

html,
body,
div,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
dfn,
del,
p,
blockquote,
fieldset,
input,
textarea,
select,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
button,
canvas,
video {
	margin: 0;
	padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
address,
caption,
cite,
code,
th,
dfn,
del {
	font-weight: normal;
	font-style: normal;
}
ul,
ol {
	list-style: none;
}
fieldset,
img {
	border: none;
}
caption,
th {
	text-align: left;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input[type="button"],
input[type="submit"],
input[type="reset"],
button {
	cursor: pointer;
	line-height: normal;
}
button,
input {
	line-height: normal;
}
input[type="hidden"],
[hidden],
.hidden {
	display: none;
}
textarea {
	overflow: auto;
	resize: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section,
.clearfix {
	display: block;
}
audio,
canvas,
video {
	display: inline-block;
}
a>img {
	vertical-align: bottom;
}
strong,
b {
	font-weight: bold;
}
em,
i {
	font-style: italic;
}
del {
	text-decoration: line-through;
}
:focus {
	outline: none;
}
.clear {
	display: block;
	clear: both;
	line-height: 0;
	height: 0;
	font-size: 0;
}
.clearfix:after,
.wrap:after,
aside:after,
section:after,
article:after,
.text:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
	visibility: hidden;
}
.align-left {
	float: left !important;
}
.align-right {
	float: right !important;
}
.overflow-hidden {
	display: block;
	overflow: hidden;
}

/* common CSS */
html {
	height: 100%;
	background-color: #fff;
}
body {
	height: 100%;
	line-height: 26px;
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
	color: #6a6a6a;
}
a {
	color: #26a6d1;
	-webkit-transition: color 0.15s linear;
	transition: color 0.15s linear;
}
a:hover {
	color: #1e85a7;
}
h1, h2, h3, h4, h5, h6 {
	color: #324d5b;
}
h1, h2, h3 {
	margin: 0 0 22px;
	line-height: 40px;
	font-size: 1.875em;
}
img {
	max-width: 100%;
	height: auto;
}
.main {
	min-height: 100%;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.wrap {
	margin: 0 auto;
	padding: 0 30px;
	max-width: 940px;
}

/* contents CSS */
.simple {
	padding: 107px 0 95px;
	text-align: center;
}
.simple p {
	margin: 0 60px 16px;
}
.features {
	margin: -25px 0 60px;
}
.features-columns {
	margin: 0 -25px;
}
.feature {
	float: left;
	margin: 0 0 50px;
	padding: 0 25px;
	width: 33.33%;
	line-height: 21px;
	text-align: center;
	font-size: 0.875em;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.feature h4 {
	position: relative;
	margin: 0 0 42px;
	line-height: 20px;
	text-transform: uppercase;
	font-size: 1.125em;
	font-weight: bold;
	color: #2b414d;
}
.feature h4:after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: -22px;
	margin: 0 auto;
	width: 22px;
	height: 2px;
	background-color: #cbcfd1;
	-webkit-transition: all 0.15s linear;
	transition: all 0.15s linear;
}
.feature:hover h4:after {
	background-color: #3db39e;
}
.feature .ico-help,
.feature .ico-like,
.feature .ico-present {
	margin: 0 auto 32px;
	width: 64px;
	height: 64px;
	background: url(../images/sprite.png) no-repeat 0 -50px;
}
.feature .ico-like {
	background-position: -100px -50px;
}
.feature .ico-present {
	background-position: -200px -50px;
}

/* responsive CSS */
@media only screen and (max-width: 767px) {
	.feature {
		width: 100%;
	}
}
@media only screen and (max-width: 479px) {
	.simple p {
		margin-left: 0;
		margin-right: 0;
	}
}