@charset "utf-8";

@font-face {
	font-family: "lato_regular";
	src: url("../fonts/lato-regular.eot");
	src: url("../fonts/lato-regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/lato-regular.woff") format("woff"),
		url("../fonts/lato-regular.ttf") format("truetype"),
		url("../fonts/lato-regular.svg#LatoRegular") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "lato_bold";
	src: url("../fonts/lato-bold.eot");
	src: url("../fonts/lato-bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/lato-bold.woff") format("woff"),
		url("../fonts/lato-bold.ttf") format("truetype"),
		url("../fonts/lato-bold.svg#LatoBold") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "avantgardelt-extralight";
	src: url("../fonts/avantgardelt-extralight.eot");
	src: url("../fonts/avantgardelt-extralight.eot?#iefix") format("embedded-opentype"),
		url("../fonts/avantgardelt-extralight.woff") format("woff"),
		url("../fonts/avantgardelt-extralight.ttf") format("truetype"),
		url("../fonts/avantgardelt-extralight.svg#avantgardelt-extralight") format("svg");
	font-weight: normal;
	font-style: normal;
}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	font-size: 100%;
	background-color: transparent;
	border: 0;
	outline: 0;
}
body {
	line-height: 1;
}
img {
	max-width: 100%;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
nav ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
	content: none;
}
a {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	font-size: 100%;
	background-color: transparent;
	color: #fff;
}

/* common */
.wrapper {
	position: relative;
	margin: 0 auto;
	max-width: 1200px;
	height: auto;
}
::selection { /* http://www.w3schools.com/cssref/sel_selection.asp */
	background-color: #353434;
	color: #fff;
}
::-moz-selection {
	background-color: #353434;
	color: #fff;
}
.testimonials #t_navigation a,
header nav ul li a, /* navigation */
header ul.social li a, /* sns */
.feature a, /* feature, more details */
.cta a.cta_btn { /* SIGN UP NOW! */
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

/* header */
header {
	width: 100%;
	height: 80px;
	background-color: #353434;
}
header .logo {
	float: left;
	margin-top: 21px;
}
header .menu_icon {
	display: none;
	float: right;
	margin-top: 23px;
	width: 35px;
	height: 35px;
	background: url(../images/menu_icon.png) no-repeat;
}
header nav {
	display: inline-block;
	z-index: 9999;
	margin: 20px 0 0 40px;
	padding: 13px 40px;
	overflow: hidden;
	border-left: 1px solid #404040;
}
header nav ul {
	list-style: none;
}
header nav ul li {
	float: left;
	margin-left: 35px;
	letter-spacing: 1px;
	font-size: 1em;
	font-family: "lato_regular", Arial;
}
header nav ul li:first-child {
	margin-left: 0;
}
header nav ul li a {
	text-decoration: none;
	color: #fff;
}
header nav ul li a:hover {
	color: #65bf95;
}
header ul.social {
	float: right;
	margin-top: 23px;
	list-style: none;
}
header ul.social li {
	float: left;
	margin-left: 10px;
}
header ul.social li a {
	display: block;
	width: 35px;
	height: 35px;
	background: url(../images/sm.png) no-repeat;
}
header ul.social li a:hover {
	background: url(../images/sm_hover.png) no-repeat;
}
header ul.social li a.fb {
	background-position: 0 0;
}
header ul.social li a.twitter {
	background-position: -36px 0;
}
header ul.social li a.gplus {
	background-position: -72px 0;
}

/* billboard */
.billboard {
	width: 100%;
	height: 580px;
	overflow: hidden;
	background: url(../images/billboard.jpg) no-repeat center center;
	background-size: cover;
}
.billboard .caption {
	margin-left: 515px;
	margin-top: 220px;
}
.billboard .caption p {
	display: inline-block;
	z-index: 8888;
	margin-bottom: 2px;
	padding: 20px;
	text-transform: uppercase;
	font-family: "avantgardelt-extralight", Arial;
	font-size: 2.188em;
	font-weight: lighter;
	background-color: rgba(255,255,255,.6);
	color: #000;
}