@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	background: #eaeaea;
	color: #666;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
	border: 0;
}
.clearfix:before, .clearfix:after {
	content: "";
	display: block;
}
.clearfix:after {
	clear: both;
}
.header {
	background: #fff;
}
.header .header_inner {
	position: relative;
	margin: 0 auto;
	height: 80px;
	max-width: 1100px;
}
.header .header_inner .logo {
	float: left;
	padding-top: 16px;
}
.header .header_inner .gnb_wrap {
	float: right;
	text-align: right;
}
.header .header_inner .gnb_wrap .mobile_tab {
	display: none;
}
.header .header_inner .gnb_wrap .lang,
.header .header_inner .gnb_wrap .lang li {
	display: inline-block;
	font-size: 12px;
}
.header .header_inner .gnb_wrap .lang li a {
	display: block;
	margin: 0 10px;
	line-height: 12px;
	font-family: "Nanum Gothic", sans-serif;
	color: #666;
}
.header .header_inner .gnb_wrap .lang li a:hover {
	color: #409747;
}
.header .header_inner .gnb_wrap .lang li:nth-child(3) a {
	margin-right: 0;
}
.header .header_inner .gnb_wrap .gnb {
	display: block;
	margin: 0;
	margin-top: 8px;
	padding: 0;
}
.header .header_inner .gnb_wrap .gnb > li {
	position: relative;
	float: left;
	width: auto;
	height: 45px;
}
.header .header_inner .gnb_wrap .gnb > li > a {
	display: block;
	padding: 0 40px;
	line-height: 45px;
	text-decoration: none;
	font-family: "Nanum Myeongjo", serif;
	font-size: 16px;
	font-weight: 800;
	color: #666;
}
.header .header_inner .gnb_wrap .gnb > li:nth-child(5) > a {
	padding: 0;
}
.header .header_inner .gnb_wrap .gnb .sub {
	display: none;
	position: absolute;
	left: 0;
	top: 40px;
	width: 100%;
	border-top: 3px solid #409747;
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.1);
	box-shadow: 1px 1px 1px rgba(0,0,0,.1);
}
.header .header_inner .gnb_wrap .gnb .sub a {
	display: block;
	line-height: 36px;
	text-align: center;
	text-decoration: none;
	font-family: "Nanum Gothic", sans-serif;
	font-size: 13px;
	background: #fff;
	color: #777;
	border-top: 1px solid #ccc;
}
.header .header_inner .gnb_wrap .gnb .sub a:hover {
	color: #409747;
}

@media screen and (max-width: 860px) {
	.header .header_inner .gnb_wrap .gnb > li > a {
		padding: 0 20px;
	}
}
@media screen and (max-width: 767px) {
	.header .header_inner {
		height: 50px;
	}
	.header .header_inner .logo {
		margin-left: 20px;
		padding-top: 10px;
		width: 120px;
	}
	.header .header_inner .gnb_wrap .mobile_tab {
		display: block;
		position: absolute;
		right: 20px;
		top: 50%;
		margin-top: -15px;
		width: 25px;
	}
	.header .header_inner .gnb_wrap .lang {
		display: none;
	}
	.header .header_inner .gnb_wrap .gnb {
		display: none;
		position: absolute;
		right: 0;
		top: 50px;
		margin-top: 0;
		width: 213px;
	}
	.header .header_inner .gnb_wrap .gnb > li {
		float: none;
		width: 100%;
		height: auto;
		border-bottom: 1px solid #639b68;
	}
	.header .header_inner .gnb_wrap .gnb > li > a {
		padding: 0 35px 0 15px;
		height: 45px;
		line-height: 45px;
		text-align: left;
		font-family: "Nanum Gothic", sans-serif;
		font-size: 14px;
		color: #fff;
		background: #408446 url("../images/gnb_more.png") no-repeat 182px center;
		background-size: 13px 13px;
	}
	.header .header_inner .gnb_wrap .gnb > li:nth-child(5) > a {
		padding: 0 35px 0 15px;
	}
	.header .header_inner .gnb_wrap .gnb .sub {
		position: relative;
		left: 0;
		top: 0;
		padding: 10px 0;
		width: 100%;
		border: 0;
		background: #e2e2e2;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.header .header_inner .gnb_wrap .gnb .sub a {
		padding: 0 15px;
		line-height: 25px;
		text-align: left;
		font-size: 12px;
		background: none;
		color: #666;
		border: none;
	}
	.header .header_inner .gnb_wrap .gnb .sub a:hover {
		color: #409747;
	}
}