@charset "utf-8";
@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* 변수 정의 */
:root {
    --c111: #111;
    --c333: #333;
    --c777: #777;
    --cccc: #ccc;
    --cf1f: #f1f1f1; 
    --cfff: #fff;
}

/************************************************** 
    typo.css: 크기, 색, 종류, 굵기, 줄간격, 자간  
**************************************************/
body {
    font: 1.5rem/1.8 'Noto Sans KR', sans-serif;
    color: var(--c111);
}

a {
    color: var(--c111);
}

.txt {
    font-size: 3.6rem;
}

#gnb,
.txt {
    letter-spacing: 4px;
}

.wtxt,
button {
    color: var(--cfff);
}

footer,
::placeholder {
    color: var(--c777);
}

/*------------------------------------------------*/

/* 전체 */
body {
    background: var(--cfff);
}

/* 헤더 */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    position: fixed;
    /* fixed, absolute이면 width가 인라인처럼된다. */
    width: 100%;
    height: 55px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: var(--cfff);
    padding: 0 32px;
}

/* 로고 */
.logo {
    width: 40%;
}

/* 내비게이션 */
#gnb {
    display: none;
}

/* 섹션1 */
#sec1 {
    padding-top: 55px;
}

.main_img {
    position: relative;
}

.txt {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.tit1 {
    padding: 8px 16px;
    background-color: var(--c111);
    opacity: .75;
}

.tit2 {
    display: none;
}

/* 섹션2,3,4 공통 */
section {
    padding: 0 30px;
}

section h2 {
    padding: 96px 0 20px 0;
    border-bottom: 1px solid var(--cccc);
    padding-bottom: 20px;
    margin-bottom: 20px;
}

/* 섹션2,3 공통 */
.sec23 li {
    width: auto;
    height: auto;
}

/* 섹션2 */
#sec2 h2 {
    margin-bottom: 40px;
}

#sec2 li {
    position: relative;
    border: 1px solid var(--cccc);
}

/* 
    #sec2 li:first-of-type ~ li
    #sec2 li + li 
    첫 번째 요소를 제외한 아래 모든 형제 요소
*/
#sec2 li+li {
    margin-top: 16px;
}

/* 섹션3,4 공통 */
section:first-of-type~section>p {
    margin-bottom: 40px;
}

/* 섹션3 */
#sec3 li + li {
    margin-top: 32px;
}
#sec3 li h3 {
    margin: 16px 0;
}

#sec3 li p:first-of-type {
    margin-bottom: 16px;
}
/* 버튼 */
#sec3 a {
    display: block;
    background-color: var(--cf1f);
    text-align: center;
    /* line-height: 40px; */
    padding: 8px 0;
    margin-top: 20px;
}
#sec3 a:hover {
    background-color: var(--cccc);
}

/* 섹션4 */
#sec4 {
    /* 지도 아래 여백 */
    padding-bottom: 8px;
}

#sec4 input {
    width: 100%;
    padding: 12px 16px;
    margin-bottom: 16px;
    border: 1px solid var(--cccc);
}

#sec4 button {
    margin: 16px 0 48px 0;
    padding: 12px 32px;
    background: var(--c111);
}
.map {
    height: 184px;
}

/* 푸터 */
footer {
    /* 한 줄 텍스트일 때 박스의 수직 중앙 정렬 */
    /* line-height: 84px; */
    padding: 32px 0;
    background: var(--c333);
    text-align: center;
}

/* 992px 이상 */
@media (min-width:992px) {

    /* 헤더 */
    /* 내비게이션 */
    #gnb li {
        display: inline-block;
        margin-left: 32px;
    }

    /* 섹션 공통 */
    .sec {
        position: relative;
        width: 1500px;
        margin: 0 auto;
    }

    /* 섹션1 */

    /* 섹션2,3,4 공통 */
    section {
        padding: 0;
    }

    /* 섹션2,3 공통 */
    .sec23 ul {
        /* 이미지 가로 배치 */
        display: flex;
        /* 줄바꿈 -> 이미지 한 줄에 4개씩 */
        flex-wrap: wrap;
    }

    .sec23 li {
        width: 360px;
        height: 240px;
        margin-right: 20px;
    }

    .sec23 li:nth-of-type(4n) {
        margin-right: 0;
    }

    /* 섹션2 */

    /* 8개 이미지 중 5번째 이미지 부터 4개만 위쪽 여백 지정 */
    #sec2 li:nth-of-type(4)~li {
        margin-top: 20px;
    }

    #sec2 span {
        position: absolute;
        left: 0;
        top: 0;
        background-color: var(--c111);
        padding: 8px 16px;
    }

    /* 섹션3 */
    #sec3 li {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 530px;
        max-height: 530px;
    }

    /* 섹션4 */
    .map {
        height: 845px;
    }

    /* 푸터 */
}

/* @media 992px 이상 */