@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	background: #eaeaea;
	color: #666;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
	border: 0;
}
.clearfix:before, .clearfix:after {
	content: "";
	display: block;
}
.clearfix:after {
	clear: both;
}