@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');

/* 작업중 */
/* body * {
    outline: 1px solid lime;
} */

/* resset */
* {
    /* 요소의 패팅과 테두리를 요소의 안쪽으로 지정 */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


img {
    vertical-align: top;
    width: 100%;
}
/* 
typo - 글꼴 , 크기 , 색, 줄간격, 자간,굴기, 기울임, 밑줄 */ 
html {font-size: 10px;}
body {
    font: 1.5rem/1.6 'Noto Sans KR', sans-serif;
}
ul {
    list-style: none;
}
a {
    color:#333;
    text-decoration: none;
}
.main a {
    font-size: 1.8rem;
    color:#333
}
.sub a {
    font-size: 1.4rem;
    color:#777
}
.copy {
    color: 777;
    text-align: center;
    line-height: 50px;
}
.copy p:last-of-type {
    font-size: 1.2rem;
}
/* common */
#wrap {
    width: 1200px;
    /* 가로 가운데(width 값이 있어야 사용 가능) */
    margin: 0 auto;
}

/* header */
/* logo */
header {
    height: 100px;
    padding: 30px 0;
}

.logo {
    width: 300px;
    float: left;
}

/* gnb */
#gnb {
    float: right;
    margin-top: 10px;
}

/* 1depth */
#gnb .main li {
    display: inline-block;
    width: 150px;
}

/* 2depth */
#gnb .sub {
    display: none;
}

/* slide */
#slide {
    height: 300px;
}

#slide li {
    position: absolute;
}

/* modal */
#modal {
    display: none;
}

/* contents */
#contents {
    height: 200px;
    padding: 5px 0;
}

#contents > div {
    float: left;
    width: 380px;
}

/* tabs */
#contents #tabs {
    width: 424px;
}
#tabs input {
    display: none;
}

#tabs input:checked+div {
    display: block;
}

#tabs div {
    display: none;
    position: absolute;
    width: 424px;
    height: 150px;
}

/* notice & gallery */
label {
    display: inline-block;
    padding: 8px 16px;
    background-color: #7a8e9f;
}

#tab1 li {
    border-bottom: 1px solid #111;
}

#tab1 span {
    display: inline-block;
    width: 334px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 16px;
}

/* 갤러리 */
#tabs #tab2 {
    /*  box-sizing: border-box; */
    padding: 20px 16px;
}

#tab2 a {
    margin: 0 4px;
    display: inline-block;
}
/* banner */
.banner {
    margin-left:  8px;
}
/* shortcut */
#contents .shortcut {
    float: right;
}

/* footer */
footer {
    height: 100px;
    background-image: linear-gradient(#eaeaea 50%, #e0e0e0 50%);
    padding: 0 30px;
}
footer a {
    /* a 태그는 글자색을 상속 받지 못해가 때문에 별도 지정한다. */
    color: #fff;
}
footer >div {
    float: left;
}
/* 하단 로고 */

/* 주소 및 저작권 */
.copy {
    float: left;
    background: url(../asset/image/1/blogo1.png) no-repeat 200px 50%/70px;
    padding-left: 350px;
    
}
/* SNS */
.sns {
    float: right;
    width: 300px;
    line-height: 100px;
}

.sns li { 
    float: left;
    margin: 0 16px;
}
