@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	font: inherit;
	font-size: 100%;
	border: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
img {
	max-width: 100%;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
hr {
	display: block;
	margin: 16px 0;
	padding: 0;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
}
input, select {
	vertical-align: middle;
}
body {
	margin: 20px;
	padding: 20px;
	line-height: 1;
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
	background-color: #555;
}
.title {
	margin: 0;
	padding: 0;
	font-size: 1.5em;
	font-weight: 300;
}
.container {
	margin-top: 35px;
}
#gallery {
	display: inline-block;
	width: 750px;
	vertical-align: top;
	text-align: left;
}
#gallery .smartphone {
	display: none;
	margin: 0;
	padding: 0;
	line-height: 22px;
	font-size: 0.875em;
	font-weight: normal;
	color: #000;
}
#gallery .expand {
	position: relative;
	z-index: 500;
	margin-top: 0;
	margin-bottom: 300px;
}
#gallery .expand .positioner {
	position: absolute;
	left: 0;
	top: 0;
}
#gallery .expand .positioner .slide {
	display: block;
	float: left;
	text-decoration: none;
	border: 0;
	border-right: 2px solid #555;
}
#gallery .expand .positioner .slide img {
	display: block;
	width: 60px;
	height: 40px;
	border: 0;
	cursor: pointer;
	-webkit-transition-duration: .7s;
	transition-duration: .7s;
}
#gallery .expand .positioner .slide:hover img {
	width: 480px;
	height: 320px;
}

/* responsive CSS */
@media only screen and (max-width: 480px) {
	#gallery .expand {
		display:none;
	}
	#gallery h3.smartphone {
		display: block;
	}
}