*{margin: 0;padding: 0;}
.bigbox {
    width: 1000px;
    margin: 0 auto;
    border: 5px solid tan;
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
}

.bigbox .box{
    border: 5px solid tan;
    width: 150px;
    height: 200px;
}
.bigbox .box1 {
    background: url(../images/a1.jpg) no-repeat 50% 50%;
    background-size: 100%;
    transition:0.3s;
}
.bigbox .box1:hover {
    background-size: 120%;
}
.bigbox .box2 {
    background: url(../images/aa1.jpg) no-repeat 0 0;
    transition:0.3s;
}
.bigbox .box2:hover {
    /* background: url(../images/aa1.jpg) no-repeat 0 -200px; */
    background-position-Y: -200px;
}
.bigbox .box3 {
    background: url(../images/ab1.jpg) no-repeat 0 0;
    transition:0.3s;
}
.bigbox .box3:hover {
    /* background: url(../images/aa1.jpg) no-repeat 0 -200px; */
    background-position-X: -150px;
}
.bigbox .box4 {
    background: url(../images/a4.jpg) no-repeat 0 0;
    position: relative;
}

.bigbox .box4::before{
    content: '';
    position: absolute;
    width: 0px;
    height: 200px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
}
.bigbox .box4:hover::before{
    width: 150px;
}
.bigbox .box4::after{
    content: '클래스 또 틀렸다.';
    position: absolute;
    width: 80px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    color: #999;
}
.bigbox .box4:hover::after{
    opacity: 1;
}
.bigbox .box5 {
    background: url(../images/a5.jpg) no-repeat 0 0;
    transition: all .3s;
    position: relative;
}

.bigbox .box5::before {
    content: '';
    position: absolute;
    width: 0;
    height: 200px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    transition: all .3s;
    overflow: hidden;
}

.bigbox .box5:hover::before {
    width: 150px;
}
.bigbox .box5::after {
    content: '페르시안고양이 \A 우아하고기품있는 \A 2살먹은고양이';
    white-space: pre;
    text-align: center;
    position: absolute;
    width: 150px;
    height: 50%;
    top: 30%;
    left: 0;
    color: #fff;
    transition: all .3s;
    opacity: 0;
}

.bigbox .box5:hover::after {
    opacity: 1;
}
